<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-3">
                    <a href="index.html" class="editContent">
                                <span class="fa" aria-hidden="true" >
                                    Django School
                                </span>
                    </a>
                </h2>
                <p class="editContent" >
                    Канал для программистов и людей, которые хотят развиваться в сфере IT.
                    Видео уроки по python 3, Django 2, Django 3, JavaScript, Vue.js, HTML, CSS
                    и многое другое.
                </p>
                <h4 class="sub-con-fo ad-info my-4 editContent" >Catch on Social</h4>
                <ul class="w3layouts_social_list media-soc list-unstyled">
                    <li>
                        <a href="#" class="w3pvt_facebook editContent" >
                            <span class="fa fa-facebook-f" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_twitter editContent" >
                            <span class="fa fa-twitter" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_dribble editContent" >
                            <span class="fa fa-dribbble" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_google editContent" >
                            <span class="fa fa-google-plus" ></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 footer-right">
                <div class="w3layouts-news-letter">
                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Newsletter</h3>

                    <p class="editContent" >By subscribing to our mailing list you will always get latest news and updates from us.</p>
                    <form action="#" method="post" class="w3layouts-newsletter">
                        <input type="email" name="Email" class="editContent" placeholder="Enter your email..." required="" >
                        <button class="btn1 btn" ><span class="fa fa-paper-plane-o" aria-hidden="true" ></span></button>

                    </form>
                </div>
                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Разделы</h3>
                        <ul class="list-unstyled w3layouts-icons">
                            <li>
                                <a href="index.html" class="editContent" >Главная</a>
                            </li>
                            <li>
                                <a href="about.html" class="editContent" >Категории</a>
                            </li>
                            <li>
                                <a href="contact.html" class="editContent" >Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <!-- social icons -->
                        <div class="agileinfo_social_icons">
                            <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Pages</h3>
                            <ul class="list-unstyled w3layouts-icons">

                                <li>
                                    <a href="#" class="editContent" >About Us</a>
                                </li>
                                <li>
                                    <a href="#" class="editContent" >About Us</a>
                                </li>
                                <li>
                                    <a href="#" class="editContent" >About Us</a>
                                </li>
                                <li>
                                    <a href="#" class="editContent" >About Us</a>
                                </li>
                                <li>
                                    <a href="#" class="editContent" >About Us</a>
                                </li>
                            </ul>
                        </div>
                        <!-- social icons -->
                    </div>
                    <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Contact Info</h3>
                        <div class="contact-info">
                            <div class="footer-address-inf my-4">
                                <h4 class="ad-info mb-2 editContent" >Email </h4>
                                <p class="editContent" ><a href="mailto:info@example.com">info@example.com</a></p>
                            </div>
                            <div class="footer-address-inf">
                                <h4 class="ad-info mb-2 editContent" >Location</h4>
                                <p class="editContent" >New York City</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>a
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2019 DjangoMovie. All rights reserved | Design by
                <a href="https://djangochannel.com"> DJANGO SCHOOL.</a>
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>