{% extends 'movies/base.html' %}
{% load static %}

{% block title %} {{ actor.name }} {% endblock title %}

{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block movie %}
<div class="left-ads-display col-lg-8">
    <div class="row">
        <div class="desc1-left col-md-6">
            <img src="{{ actor.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="desc1-right col-md-6 pl-lg-4">
            <h3 class="editContent" >
                {{ actor.name }}</h3>
            <h5 class="editContent"></h5>
            <ul>
                <li><span><b>Дата рождения:</b> {{ actor.age }}</span></li>
                {% if actor.film_director.all %}
                    <li>
                        <span><b>Режиссер:</b>
                            <ul>
                                {% for movie in actor.film_director.all %}
                                    <li>{{ movie.title }}</li>
                                {% endfor %}
                            </ul>
                        </span>
                    </li>
                {% endif %}
                {% if actor.film_actor.all %}
                    <li>
                        <span><b>Актер:</b>
                            <ul>
                                {% for movie in actor.film_actor.all %}
                                    <li>{{ movie.title }}</li>
                                {% endfor %}
                            </ul>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row sub-para-w3layouts mt-5">
        <h3 class="shop-sing editContent" >
            О  {{ actor.name }}</h3>
        <p class="editContent" >
            {{ actor.description|safe }}
        </p>
    </div>
</div>
{% endblock movie %}